:root {
	--min-font-size: 8px;
	--max-font-size:120px;
}

div {
	--font-family: Arial, sans-serif;
}

label {
	font-weight: normal;
}

body {
	font-family: Arial, sans-serif;
	color:white;
	background-image: url("background.jpg"); 
	background-size: cover;
}

#joke {
  	font-family: Dosis;	
    color: black;
  	font-size: 120px /* var(--max-font-size); */;
    text-align: center;
  	overflow: hidden;
  	height: 100%;
  	width: 100%;
  	margin: auto;
	/*filter: blur(5px);*/
	transition: all 5s ease-out;
  	/*animation: mover 5s infinite alternate;*/

}

.jokeContainer {
  background-image: url('3d_image.jpg'); 
  min-height: 570px; 
  width: 941px; 
  position: absolute; 
  left: 25%;
}

.joke {
  font-family: Dosis;	
  font-size: var(--max-font-size);
  text-align: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: auto;
/*filter: blur(5px);*/
transition: all 5s ease-out;
  /*animation: mover 5s infinite alternate;*/

}

@keyframes mover {
    0% { transform: translateY(0); }
    50% { transform: translateY(-300px) scale(0.08,0.08); }
    60% { transform: translateY(-300px) scale(0.08,0.08); }
    100% { transform: translateY(0); }
}

#joke:hover { 
	font-size: var(--min-font-size); 
  	flex-wrap: wrap;
    /*filter: none;*/
}

.slideiner {
  float: right;
  display:flex;
  justify-content: space-around;

}

.slider {
  -webkit-appearance: none;
  /*width: 80px;*/
  height: 10px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v7/HhyaU5sn9vOmLzlmC_W6EQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v7/HhyaU5sn9vOmLzloC_U.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 700;
  src: local('Dosis Bold'), local('Dosis-Bold'), url(https://fonts.gstatic.com/s/dosis/v7/HhyXU5sn9vOmLzHTLuCLMItyTA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 700;
  src: local('Dosis Bold'), local('Dosis-Bold'), url(https://fonts.gstatic.com/s/dosis/v7/HhyXU5sn9vOmLzHTLuCFMIs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}





